.home{
  font-size: 1em;
  margin-top: 2em;
  background-color: #000;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: justify;
}

.home h1{
  color: #ff0000;
}

.home p{
  color: #fff;
}
